<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSDesktopFolderUsageDescription</key>
    <string>Commands you run in Dynio, like file search, need this to work with files in your Desktop folder.</string>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>Commands you run in Dynio, like file search, need this to work with files in your Documents folder.</string>
    <key>NSDownloadsFolderUsageDescription</key>
    <string>Commands you run in Dynio, like file search, need this to work with files in your Downloads folder.</string>
    <key>NSRemovableVolumesUsageDescription</key>
    <string>Commands you run in Dynio, like file search, need this to work with files on removable drives.</string>
    <key>NSNetworkVolumesUsageDescription</key>
    <string>Commands you run in Dynio, like file search, need this to work with files on network drives.</string>
</dict>
</plist>
