

:root {
    --main-font: Inter;
    --main-letter-spacing: -0.01em;
    font-family: var(--main-font);
    letter-spacing: var(--main-letter-spacing);

    --bgColor: #e5e7eb;
    --text: #0f172a;
    --lightText: rgb(156 163 175);

    font-size: 2.4vw;

    /* line-height: 24px; */
    /* font-weight: 400; */

    /* font-synthesis: none; */

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* background-image: url("/desktop-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */

    background-color: transparent;
}

.dark {
    --bgColor: #5b5b5b;
    --text: white;
    --lightText: #d1d1d1;
}

* {
    outline: none;
}

@font-face {
    font-family: 'Inter';
    src: url('/Inter.ttf') format('truetype');

}

@font-face {
    font-family: 'SourceCodePro';
    src: url('/SourceCodePro.ttf') format('truetype');

}

@font-face {
    font-family: 'RobotoMono-Regular';
    src: url('/RobotoMono-Regular.ttf') format('truetype');

}

code {
    font-family: SourceCodePro;
}

#tray {
    font-family: RobotoMono-Regular;
}

/* Reset related only */
input {
    font-family: inherit;
    letter-spacing: inherit;
    background: inherit;
    outline: none;
    border: none;
    color: var(--text);
}

input::placeholder {
    --tw-text-opacity: 1;
    color: var(--lightText);
    user-select: none;
}

#emptyDisplay {
    color: var(--lightText);
}


#root {
    height: 100vh;
    width: 100vw;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#mainWrapper {
    box-shadow: 
        0.676rem 0.676rem 1.353rem 0 rgba(0, 0, 0, 0.2),
        -0.676rem -0.676rem 1.353rem 0 rgba(255, 255, 255, 0.5);
    background-color: var(--bgColor);
    color: var(--text);
}

#mainWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url(/mask.svg); */
    /* background-size: 4em; */
    opacity: 0.5;
    z-index: -1;
    border-radius: 0.375rem;
}

/*  Pressed */

/* inset */
/* 
box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692); */


#leftTile:active {
    /* box-shadow: 
        inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
        inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5); */
    box-shadow: 
        inset 0.182rem 0.182rem 0.2rem rgba(0, 0, 0, 0.07),
        inset -0.138rem -0.038rem 0.2rem rgba(255, 255, 255, 0.9);
}
#leftTile {
    /* box-shadow: 
        -0.338rem -0.338rem 0.451rem rgba(255, 255, 255, 0.9),
        0.282rem 0.282rem 0.451rem rgba(0, 0, 0, 0.07); */
    box-shadow: 
        -0.138rem -0.038rem 0.2rem rgba(255, 255, 255, 0.9), 
        0.182rem 0.182rem 0.2rem rgba(0, 0, 0, 0.07);

    /* max-width: 15rem; */
    overflow: hidden;
    white-space: nowrap;
    
    top: 50%; 
    left: 89.7%; 
    transform: translate(-50%, -50%); 

    font-family: var(--main-font);
}

.errorClearButton {
    outline: none;
    background-color: inherit;
    font-family: var(--main-font);
    border: none;
    padding: 0.4rem;
    cursor: pointer;
}
 

#dragSpot {
    cursor: grab;
}

#dragSpot:active {
    cursor: grabcmdg;
}

#divider {
    box-shadow: 
        inset 2px -5px 7px #ffffffb0, 
        inset -2px 4px 5px rgba(94, 104, 121, 0.692);
    width: 100%;
    height: 0.3em;
}

.nice-scroll::-webkit-scrollbar {
    background-color: inherit;
    width: 0.8rem;
    padding: 0.5rem;
    margin: 2rem;
    padding: 2rem;
}
.nice-scroll::-webkit-scrollbar-track {
    background-color: inherit;
}
.nice-scroll::-webkit-scrollbar-thumb {
    background-color: #75777a;
    border-radius: 0.375rem;

}
.nice-scroll::-webkit-scrollbar-track-piece {
    background-color: inherit;
}
.nice-scroll::-webkit-scrollbar-button {
    display: none;
}

#errorList, #panelHeading {
    font-family: Inter, sans-serif;
}


@media (prefers-color-scheme: dark) {

}
